*{
    background-color: rgb(240, 216, 186);
}

#product-card {
    width: 100%;
    height:50%;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}
#product-details {
    width: 100%;
    height:50%;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
}

#products-container {
    width: 100%;
    margin: 0 auto;
    height:50%;
    padding: 0px;
    box-sizing: border-box;
}
